/* Header with title aligned center */
.alt-header {
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px inset;
}

.alt-header__title {
    font-family: 'Bagel Fat One', cursive;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.alt-header__column {
    width: 33%;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    margin-top: 6px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

